# Gradle
.gradle/
build/

# Eclipse
.settings/
bin/
.classpath
.project

# IntelliJ IDEA
.idea/
out/
*.iml
#Folders

#Endings
*.db

#Folders
/resources/testprojects
/resources/databases
/._.DS_Store
/.DS_Store
